.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}
.inputArea {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.inputArea > input {
  height: 30px;
}
.displayArea {
  margin-top: 50px;
}
